.header {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_title {
    font-size: 3rem;
}

.header_subtitle {
    font-size: 1.2rem;
}

.header_img {
    height: 8rem;
    width: auto;
    margin-left: 2rem;
}
