.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_video {
    position: relative;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}

.header_content {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.header_title {
    font-size: 3rem;
    color: white;
    background-color: transparent;
}

.header_subtitle {
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
}

.header_img {
    height: 8rem;
    width: auto;
    z-index: 1;
    padding: 0.5rem;
}
