* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/* .squiggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vw;
  z-index: 1;
}

.squiggle path{
  stroke: blue;
} */

/* .page {
    height: 100vh;
} */
